<h1><%= title %></h1>

<%- messages() %> <% if (errors) { %>
<ul class="error">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="account-container">
  <form action="/account/login" method="post" class="account-form">
    <label for="account_email">Email:</label>
    <input
      required
      id="account_email"
      name="account_email"
      type="email"
      value="<%= locals.account_email %>"
    />

    <label for="account_password">Password:</label>
    <div class="password-input-container">
      <input
        required
        id="account_password"
        name="account_password"
        type="password"
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-z0-9])(?!.*\s).{12,}$"
      />
      <div id="password-btn">show</div>
    </div>

    <div class="password-requirements">
      Must contain at least:
      <ul>
        <li>12 total characters</li>
        <li>1 capital letter</li>
        <li>1 number</li>
        <li>1 special character</li>
      </ul>
    </div>

    <button type="submit">LOGIN</button>
  </form>
  <p>No account? <a href="/account/registration">Sign-up</a></p>
</div>

<script src="/js/hide-show-password.js"></script>
