<h1><%= title %></h1>

<%- messages() %>

<div class="account-container">
  <form class="account-form">
    <label for="account_email">Email:</label>
    <input id="account_email" name="account_email" type="email" />
    <label for="account_password">Password:</label>
    <input id="account_password" name="account_password" type="password" />
    <button type="submit">LOGIN</button>
  </form>
  <p>No account? <a href="/account/registration">Sign-up</a></p>
</div>
