<header id="top-header">
  <span class="site-name">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="hamburger-header" class="hamburger">
    <div class="top part"></div>
    <div class="middle part"></div>
    <div class="bottom part"></div>
    <div class="nav-container"><%- include('../partials/navigation') %></div>
  </div>
</header>

<script src="/js/hamburger.js"></script>
