<h1><%= title %></h1>

<%- messages() %>

<div class="managment-options">
  <a href="/inv/add/classification">Add Classification</a>
  <a href="/inv/add">Add Inventory Item</a>
</div>

<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to it.</p>
<div class="form-container" id="managment-selection-container">
  <div class="cse-motors-form"><%- classificationList %></div>
  <table id="inventoryDisplay"></table>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
